{% extends 'layout.html' %}
{% block body %}
<div class="Form">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <br>
        {{ form.forename.label }} {{ form.forename }} <br>
        {{ form.surname.label }} {{ form.surname }} <br>
        {{ form.dob.label }} {{ form.dob }} <br>
        {{ form.address.label }} {{ form.address }} <br>
        {{ form.email.label }} {{ form.email }} <br>
        {{ form.fitness_level.label }} {{ form.fitness_level }} <br>
        <br>
        {{ form.submit }}
    </form>
</div>
{% endblock body %}