<html>

<head>
    <title>PT App</title>
</head>

<body style="background-color:rgb(251, 242, 181); font-family:calibri;">
    <h1>PT App</h1>
    <a href="{{ url_for('index') }}">Home</a> | <a href="{{ url_for('add_trainer') }}">Add Trainer</a> | <a
        href="{{ url_for('view_all_trainers') }}">View Trainers</a> | <a href="{{ url_for('add_client') }}">Add
        Client</a> | <a href="{{ url_for('view_all_clients') }}">View
        Clients</a> | <a href="{{ url_for('view_workouts') }}">View
        Workout</a> | <a href="{{ url_for('book_workout') }}">Book
        Workout</a>
    {% block body %}
    {% endblock body %}
</body>

</html>