{% extends 'layout.html' %}
{% block body %}
<h2>{{ entity }} List</h2>
<p> -----------------------------------------------------------------------------------------------------</p>
{% for cust in tasks %}
{{ cust.__str__() }}
{% if entity == 'Client' %}
{{ cust.client.__str__() }}<br>
<a href="{{ url_for('update_client', id=cust.client_id) }}">Update Client</a><br>
<a href="{{ url_for('delete_client', id=cust.client_id) }}">Delete Client</a><br>
<p> -----------------------------------------------------------------------------------------------------</p>
{% endif %}
<br>
{% endfor %}
{% endblock body %}